div.background
  {
  width:738px;
  height:710px;
  background:url(danger-sign.png);
  }
div.transbox
  {
  width:738px;
  height:710px;
  margin:30px 50px;
  background-color:#ffffff;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  }
div.transbox p
  {
  margin:30px 40px;
  font-weight:bold;
  color:#000000;
  }
