<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <script src="/js/jquery.js"></script>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- Style overrides that depend on nav image size -->
    <style>
      .navbar .nav {
        margin-top: 48px;
      }
      body {
        padding-top: 108px;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><img src="/img/radioactivepdx-96x77.png" alt="{{site.name}}"/></a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/forum/">Forum</a></li>
            <li><a href="/about/">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
